
.footer{
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(105, 207, 23, 0.5) 100%);
}
.footer_nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.tell{
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
    font-family: "Roboto";
}
.footer_list{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 81px 0;
}
.footer_item{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: 0.1s;
    border-bottom: 1px transparent solid ;
}
.footer_item:hover{
    transition: 0.1s;
    border-bottom: 1px #fff solid ;
}
.footer_txt{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #1a3406;
    padding: 19px;
}